.Todo-text-linethrough{
    text-decoration: line-through;
    color: #293241;
}
.Todo{
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-color: rgba(255, 255, 255, 0.1);
}
span:hover{
    background-color: #293241;
}
.Todo-form-btn{
    background-color: #ee6c4d;
    border-color: white;
}
.Todo-form-btn:hover{
    background-color: #eea694;
}
.Todo-form{
    width: 100%;
}
